@import "../../variables.scss";
.PokemonCard {
  background: $linen;
  border-radius: 10px;
  box-shadow: 10px 6px 0px $indigo;
  text-align: center;
  padding: 5px 5px 5px;
  width: 220px;
  height: 220px;
  margin: 10px;
  &.selected {
    // transform: rotateY(20deg)  rotateX(-10deg);
    box-shadow: 10px 6px 0px green;
    
  }
  &__container-img {
    border-top: 7px solid $darkturquoise;
    border-radius: 5px;
    background-color: $deepskyblue;
    padding: 5px;
    margin-bottom: 5px;

    &_img {
      object-fit: contain;
      width: 100px;
      height: 100px;
    }
  }
  &__controls {
    text-align: left;
    padding-left: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_btn {
      background-color: $crimson;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      border: 2px solid $indigo;
      box-shadow: 2px 2px 0px rgba(0,0,0,.5);
      &:active{
        transform: scale(.95);
      }
    }
    &_title{
      font-size: 1.5em;
      margin: 0 0 0 10px;
    }
  }
&__indicator{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  &_types{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
&_experience{
  font-size: 1em;
  color: $indigo;
  margin: 0;
}
}
  @keyframes turnCrad {
  }
}
