@import '../variables.scss';
.contentCards {
  width: 90%;
  height: 100vh;
  background: $crimsonDark;
  display: flex;
  flex-direction: column;
  &__container_cards{
      height: 70%;
  };
  &__container_description{
      background-color: $crimson ;
      height: 30%;
      position: relative;

      &:after{
          content: "";
          position: absolute;
          left: 0;
          width: 0;
          height: 0;
          border-top: 90px solid rgb(202,33,90);
          border-left: 0px solid transparent;
          border-right: 200px solid transparent;

      }
  }
}
