//Colors

 $crimson : rgb(254,26,85);
$indigo :rgb(72,21,87);
$crimsonDark : rgb(202,33,90);
$linen: rgb(242,244,231);
$deepskyblue:rgb(0,215,252);
$midnightblue : rgb(12,26,87);
$midnightblueDark: rgb(6,12,78);
$darkturquoise: rgb(5,182,208); 
$sandybrown: rgb(254,211,70);